//---------Imports---------//

//Variables
@import "_variable";

//Flex
@import "_flex-box";

//---------Globals---------//

//Typography

@include font-face(HelveticaNeueLTStd-Th, '../fonts/2A014A_0_0');

%font-rule {
	font-family: $helvetica-Neue;
	color: $primary;
	margin: 0 0;
	text-align: center;
	text-transform: uppercase;
	-moz-font-feature-settings: "kern=1"; 
	-ms-font-feature-settings: "kern" 1; 
	-o-font-feature-settings: "kern"; 
	-webkit-font-feature-settings:"kern"; 
	font-feature-settings:"kern";
	text-rendering: optimizeLegibility;
}

@mixin root-reset {
	font-size: $root;
	line-height: $body-baseline;	
}

@mixin paragraph {
	font-size: $root;
	line-height: $body-baseline;
}

@mixin heading-6 {
	font-size: 1.2rem;
	line-height: $body-baseline;
	font-weight: 400;
}

@mixin heading-5 {
	font-size: 1.4rem;
	line-height: $body-baseline;
}

@mixin heading-4 {
	font-size: 1.6rem;
	line-height: $display-baseline;
}

@mixin heading-3 {
	font-size: 1.8rem;
	line-height: $display-baseline;
}

@mixin heading-2 {
	font-size: 2.1rem;
	line-height: $display-baseline;
}

@mixin heading-1 {
	font-size: 2.4rem;
	line-height: $display-baseline;
}	

@mixin link {
	@include paragraph;

	text-decoration: none;
	text-align: center;
}

//Flex-box
@mixin flex-parent($direction: column, $wrap: nowrap, $justify-content: center, $vertical-align: center) {
	@include display(flex);
	@include flex-direction($direction);
	@include flex-wrap($wrap);
	@include justify-content($justify-content);
	@include align-items($vertical-align);
}

