//---------Imports---------//

//Variables
@import "_variable";

//---------Globals---------//

//Typography
@mixin root-reset {
	font-family: $helvetica-neue;
	font-size: $reset;
	line-height: $reset-baseline;
	text-align: left;
	font-weight: 400;
	color: $primary;
	-moz-font-feature-settings: "kern=1, liga=1, dlig=1, onum=1, pnum=1"; 
	-ms-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1, "pnum" 1,"onum" 1; 
	-o-font-feature-settings: "kern", "liga", "dlig", "onum", "pnum"; 
	-webkit-font-feature-settings:"kern", "liga", "dlig", "onum", "pnum"; 
	font-feature-settings:"kern", "liga", "dlig", "onum", "pnum";
	text-rendering: optimizeLegibility;
}

@mixin paragraph {
	font-family: $helvetica-neue;
	font-size: 1.6rem;
	line-height: $reset;
	text-align: left;
	color: $primary;
	@media screen and (min-width: $tablet) {
		font-size: 1.8;
		line-height: 2.52rem;
	}
	@media screen and (min-width: $desktop) {
		font-size: 2.1rem;
		line-height: 2.94rem;
	}
}

@mixin subheader {
	font-family: $helvetica-neue;
	font-size: 1.8rem;
	line-height: 2.5rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	color: $primary;
	@media screen and (min-width: $tablet) {
		font-size: 2.1rem;
		line-height: 2.94rem;
	}
	@media screen and (min-width: $desktop) {
		font-size: 2.4rem;
		line-height: 3.36rem;
	}
}

@mixin header {
	font-family: $helvetica-neue;
	font-size: 2.4rem;
	line-height: 2.88rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	color: $primary;
	@media screen and (min-width: $tablet) {
		font-size: 3.6rem;
		line-height: 4.32rem;
	}
	@media screen and (min-width: $desktop) {
		font-size: 4.8rem;
		line-height: 5.76rem;
	}
}

@mixin headline {
	font-family: $helvetica-neue;
	font-size: 3.6rem;
	line-height: 4.32rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	color: $primary;
	@media screen and (min-width: $tablet) {
		font-size: 4.8rem;
		line-height: 5.76rem;
	}
	@media screen and (min-width: $desktop) {
		font-size: 6.0rem;
		line-height: 7.2rem;
	}
}


