//Colors
$primary: #FFF;
$secondry: #000;
$tertiary: #1a1a1a;
$translucent: rgba(255,255,255,0.25);

//Typography
$technik: "TechnikMono-50", "helvetica neue", helvetica, arial, sans-serif;
$helvetica-Neue: "HelveticaNeueLTStd-Th", "helvetica neue", helvetica, arial, sans-serif;
$root: 10px;
$body-baseline: 150%;
$display-baseline: 120%;

//Media Sizes
$tablet: 600px;
$desktop: 1100px;

//Dimensions
$full-height: 100%;
$full-width: 100%;

//Spacings
$primary-spacing: 2rem;
