//Colors
$primary: #FFF;
$secondry: #000;
$tertiary: #1a1a1a;

//Breakpoints
$small: 600px;
$large: 1200px;

//Navigation
$link-color: #FFF;
$link-hover: #FFF;
$link-vertical-padding:20px;      /*Controls Menu top & bottom padding*/
$link-horizontal-padding:25px;    /*Contols Menu left & right padding*/
$menu-background: #353535;        /*Control Menu Color Scheme*/

