//---------Imports---------//

//Normalize
@import "normalize";

//Variables
@import "_variable";

//Globals
@import "_globals";

//---------Main---------//

@mixin background-cover($img-path, $position) {
	background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url($img-path) no-repeat $position; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 0%;		
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
a {
	@extend %font-rule;
}

p {
	@include paragraph;
}

h6 {
	@include heading-6;
}

h5 {
	@include heading-5;
}

h4 {
	@include heading-4;
}

h3 {
	@include heading-3;
}

h2 {
	@include heading-2;
}

h1 {
	@include heading-1;
}

html,
body,
nav,
.collection-wrapper,
.collection {
	width: 100%;
}

html {
	@include root-reset;

	background-color: $secondry;
}

body {
	@include display(flex);

	.wrapper {
		@extend body;
		@include flex-parent;
	}
}

body#landing {
	@include background-cover('../img/hero-image2.jpg', fixed);

	height: 100%;
}

nav {
	@include flex-parent(row, nowrap, flex-start);

	height: 3.75rem;
	position: fixed;

	ul {
		float: left;
		padding: 0;
		margin: 0;

		li {
			float: left;
			display: inline-block;
			padding: 0 1.5625rem;

			a {
				@include link;
				
				color: $primary;
			}		
		}
	}
}

.collection-wrapper {
	@include flex-parent;

	.collection {
		@include flex-parent;
		@include background-cover('../img/hero-image2.jpg', center);

		min-height: 15rem;

		@media screen and (min-width: $tablet) {
			min-height: 30rem;
		}

		@media screen and (min-width: $desktop) {
			min-height: 40rem;
		}

		a {
			width: 100%;
			@include link;
		}
	} 
}




