//---------Imports---------//

//Normalize
@import "normalize";

//Bourbon Font Face
@import "_font-face";

//Variables
@import "_variable";

//Globals
@import "_globals";

//---------Main---------//

@mixin work-background($img-path, $opacity, $position ) {
	background: linear-gradient(rgba(0,0,0,$opacity),rgba(0,0,0,$opacity)), url($img-path) no-repeat $position; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 0%;		
}

@mixin body-background($body) {
	@if $body == home {
		background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('../img/hero-image2.jpg') no-repeat fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 0%;
	}

	@else if $body == about {
		background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('../img/about-image3.jpg') no-repeat fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 0%;
	}

	@else {
		background-color: $secondry;
	}
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
a {
	@extend %font-rule;
	
	width: 100%;

	@media screen and (min-width: $tablet) {
		width: inherit;
	}	
}

p {
	@include paragraph;
}

h6 {
	@include heading-6;
}

h5 {
	@include heading-5;
}

h4 {
	@include heading-4;
}

h3 {
	@include heading-3;
}

h2 {
	@include heading-2;
}

h1 {
	@include heading-1;
}

a {
	@include link;
}

html,
body,
nav,
ul,
.work-wrapper,
.work,
.article-wrapper,
.article-title,
.wrapper {
	width: 100%;
}

html {
	@include root-reset;

	height: 100%;
	background-color: $secondry;
}

body {
	@include flex-parent(column, nowrap, flex-start, center);
}

body#about {
	@include body-background(about);

	height: 100% !important;
}

body#home {
	@include body-background(home);

	height: 100% !important;
}

nav {
	@include flex-parent(row);

	position: fixed;
	z-index: 9999;

	ul {
		padding: 0;
		margin: 0;
		text-align: left;

		li {
			display: inline-block;
			padding: 1.71428571rem;

			a {
				@include link;
				
				color: $primary;
			}		
		}

		li:last-child {
			float: right;
		}
	}
}

//ABOUT PAGE
.about-wrapper {
	@include flex-parent;

	height: 100%;

	.about {
		@include flex-parent(column, nowrap, center, flex-start);

		padding: 0 1.25rem;
		margin: 0 auto;

		@media screen and (min-width: $tablet) {
			width: 42rem;
		}

		h3 {
			margin-bottom: 0.625rem;
		}

		p {
			margin-bottom: 0.625rem;
		}

		.email {
			margin-bottom: 0rem;
		}
	}
}

//WORK PAGE
#wrapper {
	width: 100%;
	margin-top: 2rem;

	.item {
		height: auto;

		img {
			width: 100%;
			margin-bottom: 2rem;
		}
	}
}

//WORK INNER PAGE
.article-wrapper {
	@include flex-parent;

	.article-title {
		@include flex-parent;

		height: 15rem;

		@media screen and (min-width: $tablet) {
			height: 30rem;
		}		
	}

	.article-pictures {
		width: 90%;
		margin-bottom: 3.125rem;

		@media screen and (min-width: $tablet) {
			width: 90%;
		}

		@media screen and (min-width: $desktop) {
			width: 60%;
		}

		img {
			width: 100%;
		}
	}

	a {
		margin-bottom: 3.5rem;
	}
}

