//---------Imports---------//

//Normalize
@import "normalize";

//Variables
@import "_variable";

//Globals
@import "_globals";

//---------Main---------//

p {
	@include paragraph;
}

h6 {
	@include heading-6;
}

h5 {
	@include heading-5;
}

h4 {
	@include heading-4;
}

h3 {
	@include heading-3;
}

h2 {
	@include heading-2;
	width: 100%;
}

h1 {
	@include heading-1;
	width: 100%;
}

html {
	@include root-reset;
}

body {
	@include display(flex);

	width: 100%;
	background-color: $secondry;

	.wrapper {
		@extend body;
		@include flex-direction(column);
		@include flex-wrap(nowrap);
	}
}

a.nav-toggle {
	@include heading-6;
	
	padding: $small 0;

	@media screen and (min-width: $tablet) {
		padding: $medium 0;
	}

	@media screen and (min-width: $desktop) {
		padding: $large 0;
	}
}

.nav-collapse li {
	@extend a.nav-toggle;

	border-top: $thin;

	@media screen and (min-width: $mobile) {
		border-top: none;
	}

	a {
		@include heading-6;
	}
}

li#last {
	border-bottom: $thin;

	@media screen and (min-width: $mobile) {
		border-bottom: none;
	}

	@media screen and (min-width: $mobile) {
		border-bottom: none;
	}
}

.collection-wrapper {
	@include flex;

	.collection {
		@include flex;

		width: 100%;
		min-height: 15rem;
		border-top: $thin;
		background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/hero-image.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 0% 50%;

		@media screen and (min-width: $tablet) {
			min-height: 30rem;
			border-top: $regular;
		}

		@media screen and (min-width: $desktop) {
			min-height: 40rem;
			border-top: $heavy;
		}

		a {
			width: 90%;
			text-decoration: none;
		}
	} 
}

.article-wrapper {
	@include flex;
	
}


