# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
css/
img/
js/vendor/
scss/bourbon/
scss/neat/
.sass-cache
favicon.png
touch-icon-ipad-retina.png
touch-icon-ipad.png
touch-icon-iphone-retina.png
touch-icon-iphone.png